<% include partials/header %>

<div class="nav-campgrounds">
  <a href="/campgrounds" class="ui secondary button">Go Back</a>
  <a href="/campgrounds/new" class="ui secondary button" id="rightside-button">Add New</a>
</div>

<div class="show-page">
  <h1><%= campground.name %></h1>

  <div class="image">
    <img src="<%= campground.image %>">
  </div>

  <p>
    <%= campground.description %>
  </p>

<% campground.comments.forEach(function(comment){ %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }); %>

</div>


<% include partials/footer %>
