<% include ../partials/header %>
  <div class="ui centered grid">

    <div class="show">
      <div class="ui secondary vertical menu">
        <a href="/campgrounds" class="active item">Go Back</a>
        <a href="/campgrounds/new" class="item">Add New</a>
        <a href="/" class="item">Info 1</a>
        <a href="" class="item">Info 2</a>
        <a href="" class="item">Info 3</a>
      </div>

    <div class="show-page">
      <div class="show-image-container">
        <div class="image">
          <img src="<%= campground.image %>">
          <h3 class="pull-right">$<%= campground.price %>/night</h3>
          <h3 class="pull-left"><%= campground.name %></h3>
        </div>
        <div class="campground-desc">
          <%= campground.description %>
          <p>_______</p>
          <h4><em>Submitted by <%= campground.author.username %></em></h4>
          <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
            <a href="/campgrounds/<%= campground._id %>/edit" class="mini ui yellow button">Edit</a>
            <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
              <button class="mini ui red button">Delete</button>
            </form>
          <% } %>
        </div>

        <div class="campground-comments-section">

          <div class="add-comment-button">
            <a class="ui orange right floated button" href="/campgrounds/<%= campground._id %>/comments/new"><i class="plus icon"></i>Add New Comment</a>
          </div>

          <hr>

          <% campground.comments.forEach(function(comment){ %>
            <p>
              <strong><%= comment.author.username %></strong><span class="pull-right">10 days ago</span>
              <p><%= comment.text %></p>
            </p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="mini ui yellow button">
                  <i class="edit icon"></i>Edit
                </a>
                <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                  <button class="mini ui red button">Delete</button
                </form>
              <% } %>
              <hr>
            <% }); %>
          </div>
        </div>
        <br>
        <% include ../detail %>
      </div>
  </div>
</div>



<% include ../partials/footer %>
